<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= text %></title>
  </head>
  <body>
    <marquee direction="down" behavior="alternate" style="height: 100vh; width: 100vw;">
      <marquee direction="right" behavior="alternate">
        <p style="font-size: 5rem;"><%= text %></p>
      </marquee>
    </marquee>
  </body>
</html>
